.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    border-radius: 8px;
    background: #463175;
    @media (min-width:1200px) {
    padding: 1rem 2%
    }
    .logo {
      z-index: 999;
      a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        @media (min-width: 576px) {
          font-size: 2rem;
        }
      }
    }
  }
}

.footer-container {
  background: #463175;
  padding: 1rem 5%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
