.menu {
    &-bar {
      z-index: 999;
      button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span{
          border-radius: 10px;
          height: 3px;
          margin: 3px 0;
          transition: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
          background-color: #fff;
        }
        span {
          width: 30px;
        }
        &.active {
            span {
              margin: 0;
            }
            span:nth-of-type(1) {
              width: 30px;
              transform-origin: center;
              transform: rotatez(-45deg);
            }
            span:nth-of-type(2) {
              opacity: 0;
            }
            span:nth-of-type(3) {
              width: 30px;
              transform-origin: center;
              transform: rotatez(45deg) translate(-4px,-5px);
            }
        }
      }
    }
    &-list {
      text-align: center;
      position: relative;
      z-index: 999;
      &-item {
        z-index: 999;
        margin-bottom: 2rem;
        font-size: 2rem;
        list-style: none;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            font-weight: 600;
            color: gray;
          }
        }
      }
      &-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
    &-wrapper {
    background: #463175;
      position: fixed;
      transition: 1.2s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      top: 0;
      bottom: 0;
      &.inactive {
        right: -110%;
      }
      &.active {
        right: 0;
      }
    }
  }
  